{% import 'macros/result_item_macro.html' as resultItem %}
{% extends '_base.html' %}

{% import '_macros.html' as $macros %}

{% block main %}

<style>
#lunr-filter.m-loading {
  background-color: red;
}
</style>

<div class="b-categories-page">
  <div class="b-filter-ui js-and">
    <div class="b-top-section m-{{title | slug}}">
      <div class="row">
        <div class="large-12 column">
          <h1>{{ title }}</h1>
          <h3 class="e-tagline">{{description}}</h3>
        </div>
        <span class="b-filter-ui-container js-multi">
          <div class="switch">
            <label>
              All Articles
              <input type="checkbox" class="b-filter" data-filter="f-open">
              <span class="lever"></span>
              Open Access Articles Only
            </label>
          </div>
        </span>
      </div>
      <div class="row">
        <div class="column large-8 large-offset-2">
          <form action="" class="b-search m-main-search m-negative lunr-form" id="lunr-filter-form">
            <input id="lunr-filter" type="text" placeholder="Search" data-category="{{custom_filter | slug }}" /><!--
          --><input class="e-search-trigger material-icons" type="button" value="search">
        </form>

      </div>
    </div>
  </div>
  <div class="b-divider b-filter-panel m-black">



    <h2>Filters</h2>


    <div class="row">
      <form action="#" class="b-form">

        <div class="large-12 columns">
          {{ $macros.filterDropdown($global.papers, "Organization", custom_filter, 2, 1) }}
          {{ $macros.filterDropdown($global.papers, "Objective", custom_filter, 2, 2, "taxonomy") }}
          {{ $macros.filterDropdown($global.papers, "Methodology", custom_filter, 2, 3, "taxonomy") }}
          {{ $macros.filterDropdown($global.papers, "Sector", custom_filter, 2, 4) }}
          {{ $macros.filterDropdown($global.papers, "Region", custom_filter, 2, 5) }}
          {{ $macros.filterDropdown($global.papers, "Type", custom_filter, 1, 6) }}
          {{ $macros.filterDropdown($global.papers, "Tools", custom_filter, 1, 7) }}
        </div>

      </form>
    </div>
    <div class="row">
      <form action="#" class="b-form">
        <a class="b-button" id="clear-filter-btn">Clear Filters</a>
        {% if title == 'All' %}
        <a class="b-button js-open-modal-multi" id="datasheet-btn" data-modal="#datasheet-modal">Download Datasheet <i id="datasheet-download" class="material-icons">file_download</i></a>
        {% endif %}
      </form>
    </div>
  </div>
</div>

<div class="b-page-section b-results-section b-isotope">
  {% for d in $global.papers %}

      {%- set _match = false -%}
      {%- for i in d.taxonomy.category -%}
        {%- if i == custom_filter -%}
          {%- set _match = true -%}
        {%- endif -%}
      {%- endfor -%}
      {%- if custom_filter == false -%}
         {%- set _match = true -%}
      {%- endif -%}

      {% if _match %}
              {{resultItem.createResult(d,$global.authors,$global.taxonomy_category, $global.taxonomy_methodology,$global.taxonomy_objective, $global.type,$global.region, $global.sector,$global.tools, $global.categories, $global.custom_authors)}}
      {%endif%}

  {% endfor %}
</div>
</div>

<!-- modal window -->
<div class="b-modal" id="datasheet-modal">
    <div class="e-content m-center">
        <h2>Download CSV / JSON Data</h2>
        <p>
          <a class="b-button" href="datasheet/all.csv" download>CSV <i class="material-icons">file_download</i></a>
          <a class="b-button" href="datasheet/all.json" download>JSON <i class="material-icons">file_download</i></a>
        </p>
        <p><a class="b-button js-close-modal" href="">Close</a></p>
    </div>
</div>
{% endblock %}