{% extends '_base.html' %}
{% block main %}
<div class="b-top-section m-dark-blue">
  <div class="row">
    <div class="large-12 column">
      <h1>Report an Error</h1>
      <h3 class="e-tagline">See a mistake? Help us improve this open access repository with your input!</h3>
    </div>
  </div>

</div>

<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='./_error-form-confirmation.html';}"></iframe>

<form class="b-form" action="https://docs.google.com/forms/d/1fszCIYbk831NQ0YOtoM1x30jiGHrsr8DsFAYTgQWUrU/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;"><ol role="list" class="ss-question-list" style="padding-left: 0;">

  <div class="b-page-section">
    <div class="row">
      <label for="entry_580987916">Location of Error</label>
          <input type="text" name="entry.580987916" value="" class="ss-q-short" id="entry_580987916" dir="auto" aria-label="Location of Error (which page?)  " aria-required="true" required="" title="url">

      <label for="entry_1026309911"><div class="ss-q-title">Describe the Problem
        <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
        <span class="ss-required-asterisk" aria-hidden="true"></span></div>
        <div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
        <textarea name="entry.1026309911" rows="8" cols="0" class="ss-q-long" id="entry_1026309911" dir="auto" aria-label="Describe the problem.  " aria-required="true" required=""></textarea>

        <label class="ss-q-item-label" for="entry_261394681"><div class="ss-q-title">Name
        </div>
        <div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
        <input type="text" name="entry.261394681" value="" class="ss-q-short" id="entry_261394681" dir="auto" aria-label="Name  " title="">

        <label class="ss-q-item-label" for="entry_1017009444"><div class="ss-q-title">Email
        </div>
        <div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
        <input type="text" name="entry.1017009444" value="" class="ss-q-short" id="entry_1017009444" dir="auto" aria-label="Email  " title="">

    </div>
  </div>

  <!-- <div class="ss-form-question errorbox-good" role="listitem">
    <div dir="auto" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry">
      <label for="entry_1026309911"><div class="ss-q-title">Describe the Problem
        <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
        <span class="ss-required-asterisk" aria-hidden="true"></span></div>
        <div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
        <textarea name="entry.1026309911" rows="8" cols="0" class="ss-q-long" id="entry_1026309911" dir="auto" aria-label="Describe the problem.  " aria-required="true" required=""></textarea>
      </div>
    </div>
  </div> -->

  <!-- <div class="ss-form-question errorbox-good" role="listitem">
    <div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
      <label class="ss-q-item-label" for="entry_261394681"><div class="ss-q-title">Name
      </div>
      <div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
      <input type="text" name="entry.261394681" value="" class="ss-q-short" id="entry_261394681" dir="auto" aria-label="Name  " title="">
      </div>
    </div>
  </div> -->

  <!-- <div class="ss-form-question errorbox-good" role="listitem">
    <div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
      <label class="ss-q-item-label" for="entry_1017009444"><div class="ss-q-title">Email
      </div>
      <div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
      <input type="text" name="entry.1017009444" value="" class="ss-q-short" id="entry_1017009444" dir="auto" aria-label="Email  " title="">
      </div>
    </div>
  </div> -->

  <input type="hidden" name="draftResponse" value="[,,&quot;6446067227325704188&quot;]
">
  <input type="hidden" name="pageHistory" value="0">



  <input type="hidden" name="fbzx" value="6446067227325704188">

  <div class="row">
    <input type="submit" name="submit" value="Submit" id="ss-submit">
  </div>
</ol>

</form>
{% endblock %}
